body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
.form-control{
    width: 300px !important;
    margin-bottom: 10px;
}
.mb-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.event-list {
    margin-top: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    text-align: left;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
.remove-btn:hover {
    background-color: #d32f2f;
}